
<div class="row">
  <div class="col-md-12">
          <h4 class="card-title">Settings</h4>
          <div class="card-body all-icons" style="padding: 0px;">
              <div class="row">
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/generalsettings">
                          <div class="font-icon-detail">
                              <i class="nc-icon nc-settings-tool-66"></i>
                              <p>General Settings</p>
                          </div>
                      </a>
                  </div>                                        
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/systems">
                          <div class="font-icon-detail">
                              <i class="nc-icon nc-bold"></i>
                              <p>Brands</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/systems">
                          <div class="font-icon-detail">
                              <i class="nc-icon nc-tv-2"></i>
                              <p>Systems</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/subsystems">
                          <div class="font-icon-detail">
                              <i class="pe-7s-network"></i>
                              <p>Sub Systems</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/systemtypes">
                          <div class="font-icon-detail">
                              <i class="pe-7s-display1"></i>
                              <p>System types</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/models">
                          <div class="font-icon-detail">
                              <i class="pe-7s-box2"></i>
                              <p>Models</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/framefinishes">
                          <div class="font-icon-detail">
                              <i class="pe-7s-albums"></i>
                              <p>Frame finishes</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/colors">
                          <div class="font-icon-detail">
                              <i class="pe-7s-drop"></i>
                              <p>Frame Colors</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/glasscats">
                          <div class="font-icon-detail">
                              <i class="pe-7s-albums"></i>
                              <p>Glass Categories</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/glasssubcats">
                          <div class="font-icon-detail">
                              <i class="pe-7s-bookmarks"></i>
                              <p>Glass Sub Categories</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/glassfinishes">
                          <div class="font-icon-detail">
                              <i class="pe-7s-photo-gallery"></i>
                              <p>Glass Finishes</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/glassvariants">
                          <div class="font-icon-detail">
                              <i class="pe-7s-menu"></i>
                              <p>Glass Variants</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/handles">
                          <div class="font-icon-detail">
                              <i class="nc-icon nc-button-pause"></i>
                              <p>Handles</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/handlevariants">
                          <div class="font-icon-detail">
                              <i class="nc-icon nc-layers-3"></i>
                              <p>Handles Variants</p>
                          </div>
                      </a>
                  </div>   
                  
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                    <a routerLink ="/settings/designs">
                        <div class="font-icon-detail">
                            <i class="nc-icon nc-layers-3"></i>
                            <p>Designs</p>
                        </div>
                    </a>
                </div>    


                   
                <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                    <a routerLink ="/settings/grids">
                        <div class="font-icon-detail">
                            <i class="nc-icon nc-layers-3"></i>
                            <p>Grids</p>
                        </div>
                    </a>
                </div>  

                       
                <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                    <a routerLink ="/settings/designpatterns">
                        <div class="font-icon-detail">
                            <i class="nc-icon nc-layers-3"></i>
                            <p>Design Patterns</p>
                        </div>
                    </a>
                </div> 

                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/company">
                          <div class="font-icon-detail">
                              <i class="pe-7s-culture"></i>
                              <p>Company</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/kitchentypes">
                          <div class="font-icon-detail">
                              <i class="nc-icon pe-7s-more"></i>
                              <p>Kitchen types</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/hinges">
                          <div class="font-icon-detail">
                              <i class="pe-7s-bandaid"></i>
                              <p>Hinges</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/kitchenhandles">
                          <div class="font-icon-detail">
                              <i class="pe-7s-plugin"></i>
                              <p>Kitchen handles</p>
                          </div>
                      </a>
                  </div>


                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                    <a routerLink ="/settings/glassonlyfinishes">
                        <div class="font-icon-detail">
                            <i class="pe-7s-plugin"></i>
                            <p>Glass Only Finishes</p>
                        </div>
                    </a>
                </div>





                  
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/kitchenhandlepositions">
                          <div class="font-icon-detail">
                              <i class="pe-7s-repeat"></i>
                              <p>Kitchen Handle position</p>
                          </div>
                      </a>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/drawings">
                          <div class="font-icon-detail">
                              <i class="nc-icon nc-palette"></i>
                              <p>Drawings</p>
                          </div>
                      </a>
                  </div> 
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-12">
                      <a routerLink ="/settings/users">
                          <div class="font-icon-detail">
                              <i class="pe-7s-users"></i>
                              <p>Users</p>
                          </div>
                      </a>
                  </div>                                         
              </div>
          </div>
  </div>
</div>

