
<div class="row">
    <div class="col-md-12" style="text-align: center;">
      <h3 class="section-title">Congratulations on Winning the Project!</h3>
  
    </div>

  </div>





  <div class="btn-group">
    <button (click)="OnSuccess()" type="button" class="btn btn-info">OPEN PROCORE</button>

  </div>
    
    
            
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                   
<div class="btn-group">
    <button  (click)="OnRetry()"  type="button" class="btn btn-info">NO, THANKS</button>
</div>


