 
 <section class="example-section">

    <input type="checkbox"  name="piscine" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Piscines</label>
    <br>
    <input type="checkbox"  name="pisc" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Pisc</label>
    <input type="checkbox"  name="piscine" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Piscines</label>
    <input type="checkbox"  name="piscine" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Piscines</label>
    <input type="checkbox"  name="piscine" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Piscines</label>
    <input type="checkbox"  name="piscine" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Piscines</label>
    <input type="checkbox"  name="piscine" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Piscines</label>
    <input type="checkbox"  name="piscine" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Piscines</label>
    <input type="checkbox"  name="piscine" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Piscines</label>
    <input type="checkbox"  name="piscine" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Piscines</label>
    <input type="checkbox"  name="piscine" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Piscines</label>
    <input type="checkbox"  name="piscine" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Piscines</label>
    <input type="checkbox"  name="piscine" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Piscines</label>
    <input type="checkbox"  name="piscine" (click)="onSaveGlass($event)">
    <label for="subscribeNews">Piscines</label>

    
  </section>



