
<h3>GET JB</h3>

<div class=" col-md-7 form-group row">

    <button  type="button" (click)="OnClickExcel()" class="btn btn-info btn-fill"> Get Excel <i class="pe-7s-like2"></i></button>  
</div>
  


<div class="col-md-9">

    <p>As On Date : {{AsonDate}}</p>
    <p>Order Number : {{OrderNumber}}</p>
    <p>Status : {{Status}}</p>
    <p>Project Name : {{ProjectName}}</p>
    <p>WA Sales Head : {{SalesHead}}</p>
    <p>Grand Total : {{Webappvalue}}</p>
    <p>Client Discount : {{ClientDiscount}}</p>
    <p>Client Discount Value : {{ClientDiscountValue}}</p>
    <p>Dealer Discount : {{Dealerdiscount}}</p>
    <p>Dealer Discount Value: {{DealerDiscountValue}}</p>
    <p>Final Value : {{FinalValue}}</p>
    <p>CS Value : {{CSValue}}</p>
    <p>Billed : {{Billed}}</p>
    <p>Party : {{Party}}</p>
    <p>ReceiptAdvance : {{ReceiptAdvance}}</p>
    <p>SpecialDiscount : {{SpecialDiscount}}</p>
    <p>TotalOutstanding : {{TotalOutstanding}}</p>
    <p>ChequeRequired : {{ChequeRequired}}</p>
    <p>CreationDate : {{CreationDate}}</p>
    <p>LastEditDate : {{EditDate}}</p>
    <p>WinDate : {{WinDateGJB}}</p>
    <p>CommercialWinDate : {{CommercialWinDate}}</p>
    <p>HandOverDate : {{HandOverDate}}</p>
    <p>Plan : {{Plan}}</p>
    <p>PlanValue : {{PlanValue}}</p>
  
   </div>


   <div class=" col-md-7 form-group row">

    <button  type="button" (click)="OnClose()" class="btn btn-info btn-fill"> Close <i class="pe-7s-like2"></i></button>  
</div>