<div>

  <table class="table table-hover" >
  <thead class="thead-light">
  <th scope = "col">Sno.</th>
  <th scope = "col">Handle Variant</th>
  <th scope = "col">Image</th>
  <th scope = "col">Date Created</th>
  <th scope = "col"></th>
  <th scope = "col"></th>
  </thead>
  <tbody>
    <tr *ngFor = "let cols of handlevariants; index as i">
      <td scope = "row">{{i+1}}</td>
      <td>{{ cols.HandleVariant }}</td>
      <td><div class="color-image"><img [src]="cols.imagePath" [alt]="cols.HandleVariant"></div></td>

      <td>{{ cols.DateCreated }}</td>
      <td style="cursor: pointer;" ><a [routerLink] = "['/settings/handlevariants/edit',cols._id]">Edit</a></td>
      <td style="cursor: pointer;"> <a (click)="OnDeleteHandlevariant(cols._id)">Delete </a></td>
    </tr>
  </tbody>

  </table>


  </div>

